body {
    font-family: Italic, Helvetica, sans-serif;
    text-align: center;
    /* background-image: url("/static/love3.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

#content-box {
    width: 400px;
    height: 400px;
    margin-left: 500px;
    margin-top: 120px;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 20px;
    border-radius: 10px;
}

#content-subbox {
    margin-top: 70px;
}

#calculate {
    width: 160px;
    height: 30px;
    font-size: 12px;
    background-color: red;
    color: wheat;
    font-style: bold;
    border-radius: 10px;
    cursor: pointer;
}